{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CashGameEdge</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sectorization.css' %}">
    </head>
    <body>
        <div class="navigation_bar">
            <h1 class="title_navigation_bar">CashGameEdge</h1>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>